#sidebar .card {
  padding: 3px;
}

#sidebar .demographics-card .card {
  overflow: scroll;
  word-wrap: break-word;
  max-height: 200px;
}
.card-outline-primary
{
  overflow-y:scroll;
  overflow-x:scroll;
  white-space:normal;
}

h1 {
  margin: 0px;
}
