#main-visualization {
  height: 100%;
  margin: auto;
  padding: 10px;
}

.treemap-visualization {
  height: 33%;
  overflow-x: scroll;
  overflow: visible;
  display: table;
}

.treemap-visualization .tree-paper {
  vertical-align: middle;
  display: table-cell;
}
